* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}
button {
  font: inherit;
  background-color: #43afff;
  color: white;
  border: 1px solid #43afff;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.login {
  text-decoration: none;
  position: absolute;
  color: white;
  font-size: 16px;
  top: 5px;
  left: 87%;
  border: 1px solid #43afff;
  border-radius: 5px;
  background: #43afff33;
  padding: 6px 20px;
}
.login:hover {
  background: #43afff;
}
